body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #1c1e21;
  color: #fff;
  
}

h1 {
  color: #ccc;
}

h3 {
  color: #000746;
}

a {
  color: #00B7FF;
}
